.container {
  max-width: none !important;
  width: 970px;
}


.movie-box{
    
    margin-bottom: 15px;
	display: -webkit-flex;
	display: flex;
    
}
.movie-box > div {
    position: relative;
    height: 293px;
}
.movie-box-image {
    position: absolute;

    width: 100%;
    height: auto;
}
.movie-box-title {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 2;
    display: none;
    width: 100%;
    text-align: center;
    background-color: rgba(0,0,0, 0.2);
    color: #fff;
}
.movie-box > div:hover .movie-box-title {
    display: block;
}
.movie-box-title span {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    
}